.dashboard-container {
  position: relative;
  background-color: #2a313a;
  width: 100vw;
  height: 100vh; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #6cff60; }

.hamburger-inner, .hamburger-box {
  z-index: 2; }

.nav-arrow {
  position: fixed;
  top: 17px;
  right: 95px;
  font-size: 40px;
  color: #6CFF60;
  animation: arrow-bounce 1s infinite; }

.hide-arrow {
  display: none; }

@keyframes arrow-bounce {
  0% {
    right: 95px; }
  50% {
    right: 120px; }
  100% {
    right: 95px; } }

.toggle-menu {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 15px; }

.legend {
  opacity: 0;
  position: absolute;
  z-index: 4;
  height: 100px;
  left: 15px;
  bottom: 15px; }

.legend-guide {
  opacity: 0;
  position: absolute;
  text-align: right;
  bottom: 15px;
  right: 15px;
  color: #9CFF60;
  font-size: 15px;
  width: 50vw; }

.legend-guide > p {
  margin: 7px; }

.show-legend {
  opacity: 1;
  transition: .5s; }

.rerender-button {
  position: absolute;
  top: 5px;
  text-align: center;
  color: #9CFF60;
  font-family: 'Roboto Mono';
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #9CFF60;
  border-radius: 5px;
  /* width: 150px; */
  padding: 10px 10px 10px 10px;
  margin: 15px;
  z-index: 1; }

.rerender-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear; }

.update-status {
  position: absolute;
  top: 1px;
  margin-left: 15px;
  margin-top: 65px;
  color: #9CFF60;
  font-family: 'Roboto Mono';
  position: absolute; }

.hidden {
  display: none; }

#anagraph {
  position: absolute;
  top: 0px;
  left: 0px; }
